.title-heading {
  font-family: "Seaweed Script";
  font-size: 70px;
}

.date-area {
  font-weight: bold;
  font-size: 20px;
}

.main-heading-area {
  margin-top: 20px;
}

.no-col-nav {
  padding: 0 !important;
  margin: 0 !important;
}

.footer-col {
  margin-top: 40px;
  padding: 0 !important;
}

.news-area {
  margin-left: 120px;
  margin-right: 50px;
  margin-top: 50px;
}

.extra-container {
  border-style: solid;
  border-width: 1px;
  border-right: 0px;
  border-top: 0px;
  border-bottom: 0px;
  margin-top: 70px;
}

.main-container {
  margin-top: 0px;
  margin-bottom: 0px;

  margin-left: 0px;
}